<?xml version="1.0" encoding="UTF-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishUrl>D:\SnapDevelop\test3</PublishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>
    </SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <RuntimeIdentifier>
    </RuntimeIdentifier>
    <ProjectGuid>
    </ProjectGuid>
    <SelfContained>False</SelfContained>
    <_IsPortable>False</_IsPortable>
  </PropertyGroup>
</Project>